<a href="https://colab.research.google.com/github/codervedant/PYTHON/blob/main/List_and_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = []
list2 = [1,3,4,52,565,3,5]
len(list2)
print(list2[4])
print(list2[-3])

565
565

In [ ]:
#Use slicing to display last no.
list2[::-1]

[5, 3, 565, 52, 4, 3, 1]

In [ ]:
for elem in list2:
  print(elem)

1
3
4
52
565
3
5

In [ ]:
for el in range(5,0,-2):
  print(el)

5
3
1

In [ ]:
ml = [79,78,79,67,77,89,89,90,88,87,87,89,67,89,76,78,67,90,98,97,67,87,98,97]
n = int(input("Enter the marks -> "))
count = 0

for nt in ml:
  if n == nt:
    count = count + 1

print(count)

Enter the marks7
0

In [ ]:
tuple1 = (12,1221,3434,3243)
print(tuple1)

(12, 1221, 3434, 3243)

Difference between a tuple and a list.
A list is mutable (can be changed) however a tuple cannot be modified